<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ wordpress_site_url }}
    DocumentRoot {{ wordpress_install_path }}

    <Directory {{ wordpress_install_path }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/wordpress_error.log
    CustomLog ${APACHE_LOG_DIR}/wordpress_access.log combined
</VirtualHost>
